body {
    background-color: #090E16;
    margin: 0px;
    color: #fff;
}

nav {
    margin: 38px;
}

#greetings{
    font-weight:800;
    font-size:45px;
}
.container{
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    background-color: #7a4ae28e;
    justify-content: space-around;
}

.item{
    color: white;
    text-align: center;
    width: 25%;
    font-size: large;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 60px;
}
.item:hover{
    background-color: rgb(238, 41, 41);
    opacity: 0.5;
}

#intro {
    font-family: 'Roboto Mono', monospace;
    color: white;
    position: absolute;
    margin-top: 150px;
    margin-left: 60px;
    /* width: 400px; */
}

#Name {
    padding-left: 55px;
    font-weight: 800;
    font-size: 52px;
    line-height: 61px;
    margin-top: 24px;
}

a {
    text-decoration: none;
    /* font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left: 16.5px;
    align-items: center; */
}

nav a:link {
    color: #fff;
}

.avator{
    margin-right: 60px;
    height: 555.95px;
    width: 600px;
    float: right;

}

#Role{
    padding-left: 55px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.617);
    font-weight: 400;
    font-size: 20px; 
    
}

.socialLinks{
    margin-right: 20px;
    float: right;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

#xyz{
    font-weight: 200;
}

.links{
    margin-bottom: 40px;
}

#myphoto
{   margin-top: 100px;
}
